<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mudit.note">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name="com.example.mudit.notebook.NotebookApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.mudit.notebook.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mudit.notebook.ui.CreateEditNoteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.mudit.notebook.ui.ViewNoteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>